@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.underline{
    padding-bottom: 10px;
    border-bottom: 3px solid white;
}

body{
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
}


.menu {
    display: flex;
    justify-content: space-evenly;
    height: 90px;
    align-items: center;
}

.menu a{
    font-family: 'Russo One', sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.menu a:hover{
    color: rgb(255,2,74);
}


.menu li  ul{
    height: 70px;
    width: 10%;
    box-sizing:content-box;
    
    padding: 10px;
    position:absolute;
    background-color:rgb(8,5,56);
    display:none;
} 

.menu li:hover ul, .menu li.over ul{
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo{
    position: absolute;
    left: 0;
    height: 90px;
}

.logo img{
    height: 100%;
}

.cabecalho{
    height: 90px;
    background-color: rgb(8,5,56);
}

.banner1 img{
    width: 100%;
}