@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
:root{
    --rocketblue: rgb(8,5,56);
    --rocketred: rgb(255,2,74);
    --rocketgradient: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(235,4,74,1) 0%, rgba(208,66,136,1) 100%);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.underline{
    padding-bottom: 10px;
    border-bottom: 3px solid white;
}

body{
    width: 100%;
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
}


.menu {
    display: flex;
    justify-content: space-evenly;
    height: 90px;
    align-items: center;
}

.menu a{
    font-family: 'Russo One', sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.menu a:hover{
    color: rgb(255,2,74);
}


.menu li  ul{
    height: 70px;
    width: 10%;
    box-sizing:content-box;
    
    padding: 10px;
    position:absolute;
    background-color:rgb(8,5,56);
    display:none;
} 

.menu li:hover ul, .menu li.over ul{
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo{
    position: absolute;
    left: 0;
    height: 90px;
}

.logo img{
    height: 100%;
}

.cabecalho{
    height: 90px;
    background-color: rgb(8,5,56);
}

.construcao{
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 80px;
}

.construcao figure{
    display: flex;
    justify-content: center;
}


.construcao img{
    width: 75%;  
}


.textoConstrucao{
    border-radius: 10px;
    box-shadow: 1px 2px 5px 4px rgb(201, 199, 199);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 40%;
}

.textoConstrucao h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    color: var(--rocketblue);
    font-size: 32px;
}

.textoConstrucao h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    color: var(--rocketred);
    font-size: 26px;
}

.textoConstrucao p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 10px;
    text-align: center;
    font-size: 17px;
}

.faixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--rocketblue);
    text-transform: uppercase;
    padding-top: 80px;
    padding-bottom: 70px;
}

.faixa h2{
    color: var(--rocketred);
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
}

.faixa h1{
    color: white;
    padding-top: 10px;
    font-family: 'Russo One', sans-serif;
    font-size: 2.7rem;
}

.faixa h3{
    color:white;
    padding-top: 10px;
    font-family: 'Oswald', sans-serif;
}



.servicos{
    background: var(--rocketgradient);
    display: flex;
    justify-content: space-evenly;
}



.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size: 4rem;
    color: var(--rocketred);
}

.servicos{
    padding-top: 80px;
    padding-bottom: 70px;
}

.servicosBox {
    border-radius: 10px;
    box-shadow: 1px 2px 5px 4px rgb(224, 21, 79);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 20%;
    background-color: var(--rocketblue);

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;

    transition: 250ms;
}

.landingpage p, .artes p, .seo p, .ads p{
    color: var(--rocketred);
}

.servicosBox:hover{
    transform: scale(1.2);
}